<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="AddStationCtrl">

    <br>
        <h3>Agregue los datos de estacion</h3>
        <form ng-submit="postData()">
            Nombre: {{name}}<br>
            <input type="text" ng-model="name"><br>
            Descripcion:<br> <input type="text" ng-model="description"><br>
            Longitud:<br> <input type="number" step="any" ng-model="longitude"><br>
            Latitude:<br> <input type="number" step="any" ng-model="latitude"><br>
            Tipo: <br> <input type="text" ng-model="type"><br>
            Cause: <br> <input type="number" ng-model="watershed"><br>

            <input type="submit" value="Enviar">



        </form>


    </div>




</body>
</html>