<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="AddStationCtrl">

    <div id="map_canvas"  class="col-md-7">
        <h4>Seleccione ubicacion estación</h4>
        <ui-gmap-google-map center="map.center" zoom="map.zoom" events="map.events" options="options">
            <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id"></ui-gmap-marker>
        </ui-gmap-google-map>

    </div>

    <div class="col-md-5">
        <br>
        <h3>Agregue los datos de la estacion</h3>
        <form ng-submit="postData()">
            Nombre:<br>
            <input type="text" ng-model="name" required><br>
            Descripcion:<br> <input type="text" ng-model="description" required><br>
            Tipo: <br> <input type="text" ng-model="type" required><br>
            Cauce: <br> <select name="riverId" ng-model="riverId" ng-options="m.id as m.name for m in rivers" required></select><br>
            Longitud:  <br> {{lon}}<br>
            Latitud: <br> {{lat}}<br>
            <br>
            <input type="submit" value="Enviar">
            <br>
            <br>
            <h5>Estado: {{status}}</h5>
        </form>
    </div>




</body>
</html>