<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="SummaryCtrl">
<h3>Resumen estaciones configuradas</h3>

<table class="table" id="table1">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descricion</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Revisar</th>
        </tr>

    </thead>
    <tbody ng-repeat="station in stations">
        <tr>
            <td>{{station.name}}</td>
            <td>{{station.description}}</td>
            <td>{{station.type}}</td>
            <td>{{station.status}}</td>
            <td><input type="checkbox" ng-model="station.checkStatus" ng-change="getSensors(station.id)"></td>
        </tr>
        <tr ng-show="station.checkStatus">
            <th>Sensores en estacion</th>
            <th>ID</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Estado</th>
        </tr>
        <tr ng-show="station.checkStatus" ng-repeat="sensor in sensors">
            <td></td>
            <td>{{sensor.id}}</td>
            <td>{{sensor.name}}</td>
            <td>{{sensor.type}}</td>
            <td>{{sensor.status}}</td>
        </tr>

    </tbody>


</table>
</body>
</html>