<div ng-controller="FailStationCtrl">

    <H3>Emulador de fallas</H3>
    <H4>Seleccione Estacion para modificar</H4>
    <form ng-submit="postData()">
        Estacion:<br>
        <select name="stationName" ng-model="stationId" ng-options="m.id as m.description for m in stations" required></select><br>
        Estado: <br>
        <select name="status" ng-model="status" ng-options="i as i for i in statusList" required></select><br>
        <br>
        <input type="submit" value="Enviar">
        <br>
        <br>
        <p>Estado: {{sendStatus}}</p>
    </form>
</div>