<div class="reports" ng-controller="ReportsCtrl" pdf-save-content="hola">

    <h3>Reporte comportamiento para la estacion: {{datos.name}}</h3>
    <h5> Rango de muestra(hrs): <input type="number" ng-model="target2"></h5>
    <h5>        <label for="refresh">Seleccionar estacion para mostrar</label>
        <select name="refresh" ng-model="id2" ng-options="m.id as m.name for m in allData">

        </select></h5>
    <h5><span class="bordes">Promedio Temperatura: {{datos.tempData}}</span> <span class="bordes" >Promedio Humedad: {{datos.humData}}</span> <span class="bordes">Promedio Caudal: {{datos.caudalData}}</span></h5>

        <button ng-click="loadData2(target2, id2)" class="boton">Consultar</button>
    <button pdf-save-button="hola" pdf-name="someone.pdf" class="boton">Descargar reporte</button>


    <canvas id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-series="series" chart-options="options"
            chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>



</div>